<section>
    <h2>CRUD Operations</h2>
    <div class="main-view">
        <input class="form-control" [(ngModel)]="newTask.title" placeholder="Type Your Title" />&nbsp;
        <input class="form-control" [(ngModel)]="newTask.description" placeholder="Type Description" />&nbsp;
        <!-- add task -->
        <button (click)="addTask()">Add</button>
    </div>
    <br />

    <div class="main-view" *ngIf="editingTaskIndex !== null">
        <input class="form-control" [(ngModel)]="updatedTask.title" placeholder="Edit Title" /> &nbsp;
        <input class="form-control" [(ngModel)]="updatedTask.description" placeholder="Edit Description" /> &nbsp;
        <!-- update -->
        <button (click)="updateTask()">Update</button>
    </div>
    <br />

    <div class="edit-view" *ngFor="let task of tasks; let i = index">
        <h5>Title:{{ task.title}}</h5>
        <h5>Description:{{ task.description}}</h5>
        <div>
            <!-- delete -->
            <button (click)="deleteTask(i)">Delete</button>&nbsp;
            <!-- edit -->
            <button (click)="editTask(i)">Edit</button>
        </div>
    </div>
</section>